* {
    margin: 0;
    padding: 0;

}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #333;

}
#menu {
    font: bold 16px;
    width: 1200px;
    height: 70px;
    background: #7e7e7e;
    color: black;
    line-height: 70px;
    margin: 0 auto;
    text-align: center;
}
#menu > ul > li {
    float: left;
    width: 240px;
    position: relative;
}
#menu > ul > li > ul {
    width: 240px;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    font-size: 14px;
    background: rgb(180, 180, 180);
    transition: max-height 0.7s ease;
}
#menu > ul > li:hover > ul {
    max-height: 500px;
    background-color: #a9a9a9;
}
#menu > ul > li > ul > li:hover{
    background: #8f8f8f;
    transition: ease 1s;
}
#menu > ul > li:hover {
    background: #6c6c6c;
    transition: ease 1s;
}

