* {
    margin: 0;
    padding: 0;
}
#wrap{
    width: 100%;
    height: 720px;
}
#header {
    width: 100%;
    height: 10%;
    background-color: #f2f4f7;
}
#main {
    width: 100%;
    height: 90%;
    background-color: #f2f4f7;
    position: relative;
}
#content {
    width: 65%;
    height: 100%;
    background-color: #f2f4f7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;

}
#h1 {
    width: 60%;
    height: 45%;
    background-color: #f2f4f7;
}
.h2{
    width: 90%;
    height: 62%;
    background-color: #f2f4f7;
    position: relative;
}
#image {
    height: 47px;
    position: absolute;
    bottom: 0;
}
.h3 {
    width: 100%;
    height: 48%;
    background-color: #f2f4f7;
}
.text {
    font-size: 28px;
    margin-top: 20px;
    font-weight: lighter;
    line-height: 32px;
}
#nav {
    width: 40%;
    height: 80%;
    background-color: #f2f4f7;
    position: relative;
}
#text7 {
    width: 280px;
    height: 30px;
    background-color: #f2f4f7;
    position: absolute;
    bottom: 60px;    
    left: 0;
    right: 0;
    margin: 0 auto;
    
}
.text8 {
    font-size: 13px;
    line-height: 2;
}
.text9 {
    font-size: 13px;
    font-weight: bold;
    
}
.text9:hover {
    cursor: pointer;
    text-decoration: underline;
}
.section {
    width: 400px;
    height: 65%;
    background-color: #fff;
    margin-top: 59px;
    box-shadow: 0px 0px 20px #c2c2c5;
    border-radius: 10px;
    padding-top: 15px;
}
#insert1 {
    width: 92%;
    height: 15%;
    background-color: #ffffff;
    margin-top: 50px;
    border-radius: 5px;
    margin: 0 auto;
}
#insert2 {
    width: 92%;
    height: 15%;
    background-color: #ffffff;
    margin-top: 50px;
    border-radius: 5px;
    margin: 0 auto;
}
#insert3 {
    width: 92%;
    height: 15%;
    background-color: #ffffff;
    margin-top: 50px;
    border-radius: 5px;
    margin: 0 auto;
}
.login-input {
    width: 360px;
    height: 50px;
    font-size: 19px;
    border-radius: 5px;
    background-color: #0866ff;
    margin-top: 27px;
    border: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}
.login-input:hover {
    background-color: #1877f2;
    transition: background-color 0.3s;
    cursor: pointer;
}
#insert4 {
    width: 87%;
    height: 5%;
    background-color: #ffffff;
    margin: 40px auto 0 auto;
    justify-content: center;
    display: flex;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 24px;

}
.lost {
    color: #0866ff;
    cursor: pointer;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 500;

}
.lost:hover {
    text-decoration: underline;
    color: #0866ff;
}
#insert5 {
    width: 32%;
    height: 15%;
    background-color: #42b72a;
    margin-top: 400px;
    border-radius: 7px;
    margin: 25px auto 0 auto; 
}
.account {
    width: 100%;
    height: 100%;
    background-color: #42b72a;
    margin-top: 400px;
    border-radius: 5px;
    margin: 0px auto 0 auto;
    font-size: 17px;
    border: none;
    color: #ffffff;
    font-weight: bold;
}
.account:hover {
    background-color: #36a420;
    cursor: pointer;
    transition: background-color 0.5s;
}

.password-input {
    width: 360px;
    height: 50px;
    font-size: 17px;
    border: 1px solid #dddfe2;
    border-radius: 5px;
    padding-left: 17px;
    box-sizing: border-box;
    outline: none;
    margin-top: 11px;
}
.password-input:focus {
    border: 1px solid #0866ff;
    caret-color: #0866ff;
}


#footer {
    width: 100%;
    height: 24.5vh;
}
#footer1 {
    width: 65%;
    height: 100%;
    background-color: #fff;
    margin: 0  auto;
    
}
.footer1-1 {
    width: 100%;
    height: 27%;
    background-color: #fff;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 7px;
    position: relative;
}
.footer1-2 {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
    bottom: -70px;
    position: relative;
    
}
.footer-menu {
    font-size: 12px;
    gap: 14px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    color: #8a8d91;
    max-width: 900px;
    position: absolute;
    top: -7px;
    column-gap: 16px;
    row-gap: 3px;

}
.footer1-3 {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
    bottom: -70px;
    position: relative;

}
.last {
    font-size: 11px;
    color: #8a8d91;
    position: absolute;
    bottom: 10px;
}
.footer-menu span:hover {
    cursor: pointer;
    text-decoration: underline;
}
.email-input {
    width: 360px;
    height: 50px;
    font-size: 17px;
    border: 1px solid #dddfe2;
    border-radius: 5px;
    padding-left: 17px;
    box-sizing: border-box;
    outline: none;
}
 input::placeholder {
    color: rgb(146, 146, 146);
    
}
.center-input {
  width: 300px;
  height: 40px;
  padding-left: 120px;
  box-sizing: border-box;
}
.email-input:focus {
    border: 1px solid #0866ff;
    caret-color: #0866ff;
}
.email-input:focus::placeholder {
  color: #cccccc;
}
.password-input:focus::placeholder {
    color: #cccccc;
}
.lang-selector {
    font-size: 12px;
    gap: 10px;
    align-items: center;
    display: flex;
    position: absolute;
    bottom: 11px;
    color: #8a8d91;
    
}
.lang-selector span:hover {
    cursor: pointer;
    text-decoration: underline;
}
.lang-selector button {
    border: 1px solid #ccd0d5;
    background: #f5f6f7;
    padding: 1px 10px;
    border-radius: 3px;
    cursor: pointer;
    color: #4b4f56;
    font-size: 14px;
    align-self: flex-start;
    font-weight: bold;
  }
.lang-selector button:hover {
    background: #ebedf0;
    transition: background-color 0.2s;
  }