* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrap {
    width: 100%;
    height: 1200px;
}
#menu {
    width: 100%;
    height: 8%;
    background-color: #fff;
    position: relative;
    overflow: hidden; /* 배경이 삐져나오지 않게 */
}
#logo {
    width: 14.5%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    width: 75%;
    height: auto;
    display: block;
}
img:hover {
    cursor: pointer;
}
ul {
    display: flex;
    position: absolute;
    left: 35%;
    top: 35px;
}
li {
    position: relative;
    list-style: none;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    transition: color 0.3s;
}
li:hover {
    color: rgb(255, 147, 147);
}
.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #78ff83;
    transition: all 0.5s;
    z-index: -1;
}
ul:hover .bg {
    height: 100%;
    background-color: #ed0d0d;
}